body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, 8)),
    url(images/background.jpg);
  background-position: center;
  background-size: cover;
}
.logo {
  width: 150px;
  margin-top: 18px;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navbar {
  height: 100%;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
}
.item {
  margin: 10px;
}

.image > img {
  object-fit: cover;
  height: 400px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  text-shadow: 2px 2px;
}
.header {
  align-items: center;
  height: 10%;
}
.header-btn {
  text-decoration-color: blue;
  border-radius: 30px;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  color: white;
  background: white;
  font-weight: 600;
}
.left-box {
  color: white;
  margin: 15px;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
}
.image {
  height: 350px;
  box-shadow: -4px 4px 5px 0;
}
.nav-link {
  text-decoration-color: blue;
  border-radius: 30px;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  color: white;
  background: white;
  font-weight: 600;
}
.nav-item {
  color: black;
  margin: 15px;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
}
